
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}


#main-container {
  position: absolute;
  width: 970px;
  height: 450px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#collapsed-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  background-color: #EEE;
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

#expanded-state {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F1F1F1;
  z-index: 200;
  /*border: 1px solid black;*/
  display: none;
}

#expanded-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

#collapsed-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

.button {
  position: absolute;
  /*color: #FFF;*/
  /*background-color: #339933;*/
  border: 1px outset #333;
  cursor: pointer;
  /*padding: 5px 10px;*/
  z-index: 500;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#expand-button {
  bottom: 5px;
  /*right: 5px;*/
  display: block;
  z-index: 10000;
}

#collapse-button {
  display: block;
}

/*.feature-collapsed {
  top: 37px;
  left: 10px;
  width: 280px;
  height: 175.5px;
  position: absolute;
}*/

.feature-expanded {
/*  top: 11px;
  left: 121px;*/
  width: 727.5px;
  height: 427.21875px;
  position: absolute;
}

#main-img-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(dclk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
#main-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(dclk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}
@charset "UTF-8";
/* CSS Document */

#container{
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 300px;
  height: 250px;
  border:solid;
  border-color:black;
  border-width:1px;
  overflow:hidden;
  display: none;
}
#preload,#preloadWrap{
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 300px;
  height: 250px;
  border:solid;
  border-color:black;
  border-width:1px;
  overflow:hidden;
}
body{
  margin: 0px;
}
#click_screen {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#left{
  position: absolute;
  left: 0;
  top: -500px;
  width: 150px;
  height: 750px;
}
#right{
  position: absolute;
  right: 0;
  width: 150px;
  height: 750px;
}
#shop, #shop_rollover{
  opacity: 0;
  position: absolute;
  z-index: 10;
}
#shop{
  bottom: 25px;
  left: 97px;
}
#f1_txt{
  position: absolute;
  z-index: 3;
  opacity: 0;
}
#richContainer{
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 970px;
  height: 450px;
  border:solid;
  border-color:black;
  border-width:1px;
  overflow:hidden;
  display: none;
  cursor: pointer;
  background-image: url("richMedia.jpg");
}
#richMedia{
  height: 450px;
  width: 800px;
  position: absolute;
  cursor: pointer;
  display: block;
  padding-left: 144px;
  z-index: 10;
}
#closeBtn{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 943px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
#rich_rollover{
  opacity: 0;
  position: absolute;
  z-index: 2;
}